<section id="newsletter">
    <div class="container">
        <h1>Subscreve a nossa newsletter</h1>
        <form>
            <input type="email" placeholder="Coloque o email..." />
            <button type="submit" class="button_1">Subscrever</button>
        </form>
    </div>
</section>
