@model GlobalGamesCet49.Dados.Entidades.PedidoContacto
@{
    ViewData["Title"] = "Servicos";
}

<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="titulo">Serviços</h1>

            <ul id="servicos">
                <li>
                    <h3>Jogos Unity</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent dui nibh, tincidunt at finibus vitae, feugiat non purus. </p>
                    <p>Preços: 1.000&euro; - 3.000&euro;</p>
                </li>

                <li>
                    <h3>Jogos Unreal</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent dui nibh, tincidunt at finibus vitae, feugiat non purus. </p>
                    <p>Preços: 2.500&euro; - 6.000&euro;</p>
                </li>

                <li>
                    <h3>Desenvolvimento de personagens</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent dui nibh, tincidunt at finibus vitae, feugiat non purus. </p>
                    <p>Preços: 3.000&euro; - 7.500&euro;</p>
                </li>

            </ul>

        </article>

        <aside id="sidebar">
            <div class="dark">
                <h3>Peça um orçamento</h3>
                <form class="orcamento" asp-action="Servicos">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                        <label>Nome</label><br>
                        <input asp-for="Nome" class="form-control" placeholder="Nome" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div>
                        <label>Email</label><br>
                        <input asp-for="Email" class="form-control" placeholder="Endereço de email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div>
                        <label>Mensagem</label><br>
                        <textarea asp-for="Mensagem" class="form-control" placeholder="Mensagem"></textarea>
                        <span asp-validation-for="Mensagem" class="text-danger"></span>
                    </div>

                    <button class="button_1" type="submit">Enviar</button>   
                </form>
            </div>
        </aside>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        document.querySelector('#servicos').className = 'selecionado';
    </script>
}